* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html{
    scroll-behavior: smooth;
  }

img {
    border-radius: 15px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    transition: transform 0.5s; 
}

.hide-nav {
    /* display: none; */
    transition: .7s; 
    animation: fadeOut .7s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: .8; 
    }
    to {
        opacity: 0; 
    }
}

.nav-links {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    padding-top: 1.5em;
}

.cloud.one {
    top: 30%; 
    width: 75px; 
    height: 25px;
}

.cloud.two {
    top: 40%; 
    width: 24px; 
    height: 8px;
    animation-duration: 17s;
}

.cloud.three {
    top: 20%; 
    width: 60px; 
    height: 20px;
    animation-duration: 14s;
}

.cloud {
    position: absolute; 
    left: 0; 
    background: white;
    border-radius: 1000px;
    animation: floating 10s infinite linear; 
    box-shadow: 3px 350px 30px 1px rgba(0,0,0,0.2);
}

.cloud::before {
    content: ''; 
    position: absolute; 
    top: -80%; 
    left: 10%; 
    width: 50%; 
    height: 150%; 
    background: white;
    border-radius: 50%;
}

.cloud::after {
    content: ''; 
    position: absolute; 
    top: -40%; 
    right: 20%; 
    width: 30%; 
    height: 100%; 
    background: white;
    border-radius: 50%;
}

@keyframes floating {
    from {
        left: 0;
        transform: translateX(-100%);
    }

    to {
        left: 100%;
        transform: translateX(0%);
    }
}

@media screen and (max-width: 1200px) {
    .nav-links {
        width: 70%;
    }
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    font-family: 'Rubik Bubbles', cursive;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    text-shadow:  1px 2.3px 2px rgba(83, 60, 53, 0.2);
    transition: .2s;
    animation: fadeIn 1.2s ease-in;
}

.nav-links a:hover {
    color: rgba(255, 255, 255, 1.0);
    text-shadow:  1px 4.5px 2px rgba(83, 60, 53, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 0.8;
    }
} 

#introduction {
    font-size: 5em;
    font-family: 'Rubik Bubbles', cursive;
    color: rgba(255, 255, 255, 0.8);
    animation: slideDown 1s ease;
    text-shadow:  1px 7px 2px rgba(83, 60, 53, 0.2);
}

#introduction2 {
    color: rgba(255, 255, 255, 0.7);
    animation: slideUp 2s; 
    text-shadow:  1px 2.3px 2px rgba(83, 60, 53, 0.2);
}

@keyframes slideDown {
    from {
        margin-bottom: 100%;
        opacity: 0;
    }
    to {
        margin-bottom: 0%;
        opacity: .8;
    }
}

@keyframes slideUp {
    from {
        margin-top: 100%;
        opacity: 0;
    }
    to {
        margin-top: 0%;
        opacity: .8;
    }
}

/* @media screen and (max-width: 1500px) {
    @keyframes slideDown {
        from {
            margin-bottom: 100%;
            opacity: 0;
        }
        to {
            margin-bottom: 0%;
            opacity: .8;
        }
    }
} */

#homepage {
    height: 100vh; 
    aspect-ratio: 960/300;
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./bg-image/blue-layered-peaks-haikei.svg');
}

@media screen and (max-width: 820px) {
    #introduction {
        font-size: 10vw;
    }
}

section {
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#work {
    /* height: 100vh;  */
    aspect-ratio: 960/300;
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./bg-image/inverse-blue-layered-peaks-haikei.svg');
}

/* .works-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1em;
} */

h1 {
    font-family: 'Rubik Bubbles', cursive;
    /* color:rgba(255, 255, 255, 0.8);  */
}

#work-section-header {
    font-size: 1.7em;
    margin-top: 1em;
    color:rgba(255, 255, 255, .9)
}

hr {
    width: 90vw; 
    color:rgba(255, 255, 255, 0.2);
    margin-top: .5em;
}

.header-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    transition: .1s;
}

.header-links:hover {
    color:rgba(255, 255, 255, 0.9); 
}

.song-generator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 3em;
    color: rgba(255, 255, 255, 0.8);
}

.song-gen-front-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.website-photos {
    max-width: 50vw;
    box-shadow: 5px 5px 15px 2px rgba(0,0,0,0.5);
}

.website-photos:hover {
    max-width: 50.5vw;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}

.project-info {
    max-width: 35vw;
}

#song-gen-photo {
    margin-left: 1em;
    transition: .3s;
}

#song-gen-photo:hover {
    max-width: 50.5vw;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}

.reverb-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 10em;
    color: rgba(255, 255, 255, 0.8);
}

.reverb-calc-back-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#reverb-calc-photo {
    margin-left: 1em;
    transition: .3s;
}

.poker-game {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    gap: 1em;
    margin-top: 10em;
}

.poker-front-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#poker-photo {
    margin-left: 1em;
    transition: .3s;
}

.music-website {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 10em;
    margin-bottom: 1.2em;
    color:rgba(255, 255, 255, 0.8);  
}

#music-website-back-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.links {
    font-size: 2em;
}

.links > a {
    color: rgba(255, 255, 255, 0.6);
    transition: .3s
}

.links > a:hover {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.25em;
}

#about {
    height: 100vh; 
    aspect-ratio: 960/300;
    width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('./bg-image/bottom-layered-waves-haikei.svg');
}

#about-section-header{
    color:rgba(255, 255, 255, .9)
}

.photo-and-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    color:rgba(255, 255, 255, 0.8); 
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60vw;
    gap: 1em;
    margin-top: 1em;
    
}

.about-me {
    max-height: 100vh;
    color: rgba(255, 255, 255, 0.8);
}

#headshot {
    max-width: 25vw;
    border-radius: 300px;
}

.socials {
    position: absolute;
    bottom: 0;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    transition: 1s;
}

.icons {
    font-size: 2em;
    color:rgba(255, 255, 255, 0.8); 
    transition: .3s;
}

.icons:hover {
    font-size: 2.3em;
    color:rgba(255, 255, 255, 1.0)
}

#contact {
    background:none;
    border: none;
    cursor: pointer;
}

.modal-container {
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 60vh;
    background-color: rgb(168, 214, 204, .9);
    border-radius: 20px;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
    animation: modalFadeIn .7s;
}

@keyframes modalFadeIn {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#email-text {
    height: 30vh;
    width: 30vw;
    padding-bottom: 14em;
    padding-left: .2em;
}

#email-address {
    width: 30vw;
    padding-left: .2em;
}

@media screen and (max-width: 600px) {
    .modal-container {
        width: 70vw;
    }

    #email-text {
        width: 60vw;
    }

    #email-address {
        width: 60vw;
    }
}

#modal-header {
    color:rgba(255, 255, 255, .9); 
    font-size: 2em;
}

#close {
    padding: .2em;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .song-generator {
        flex-direction: column;
    }

    .reverb-calculator {
        flex-direction: column-reverse;
    }

    .poker-game {
        flex-direction: column;
    }

    .music-website {
        flex-direction: column-reverse;
    }

    .website-photos {
        max-width: 80vw;
    }

    .website-photos:hover {
        max-width: 80.5vw;
    }

    .project-info {
        max-width: 70vw;
    }

    .info-container {
        flex-direction: column-reverse;
    }

    #headshot {
        max-width: 45vw;
    }

    .about-me {
        font-size: .8em;
    }

    #work-section-header {
        font-size: 1.6em;
    }
}